<div class="container">
	<h2 class="mat-title">Listagem de dívidas</h2>

	<div class="all-debts">
		<dmf-chart [debts]="debts" *ngIf="showChart"></dmf-chart>

		<div class="place-holder" *ngIf="debts.length <= 0">
			<p class="place-holder-msg">Nenhuma dívida cadastrada, vá ao menu para criar uma nova dívida.</p>
		</div>

		<mat-card class="debt-card" *ngFor="let debt of debts">
			<mat-card-header class="debt-header">
				<div mat-card-avatar>
					<mat-icon>receipt</mat-icon>
				</div>
				<mat-card-title class="description">{{debt.description}}</mat-card-title>
				<mat-card-subtitle></mat-card-subtitle>
			</mat-card-header>

			<mat-card-content class="debt-details">
				<mat-divider></mat-divider>
				<div class="debt-amount">
					<p>{{debt.amount | currency: 'BRL' }}</p>
				</div>
				<mat-divider></mat-divider>
				<div class="debt-installment">
					<mat-icon class="icon">trending_up</mat-icon>
					<span>Prestações: </span>
					<p *ngIf="!debt.fixedCost; else fixed">{{debt.currentInstallment}} de {{debt.totalInstallment}}</p>
					<ng-template #fixed>
						<p>Dívida fixa</p>
					</ng-template>
				</div>
				<div class="debt-due-date">
					<mat-icon class="icon">date_range</mat-icon>
					<span>Vencimento: </span>
					<p>{{debt.dueDate | date: 'dd/MM/yy' }}</p>
				</div>
				<div class="debt-total-amount">
					<mat-icon class="icon">label</mat-icon>
					<span>Categoria: </span>
					<p>{{debt.category }}</p>
				</div>
				<div class="debt-total-amount">
					<mat-icon class="icon">attach_money</mat-icon>
					<span>Total restante: </span>
					<p>{{debt.totalAmountLeft | currency: 'BRL' }}</p>
				</div>
			</mat-card-content>

			<mat-divider></mat-divider>

			<mat-card-actions class="debt-footer">
				<button mat-icon-button (click)="openDialogForDelete(debt)">
					<mat-icon>delete</mat-icon>
				</button>
				<button mat-icon-button (click)="openDialogForEdit(debt)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-stroked-button color="primary" (click)="openDialogForPayment(debt)">Pagar</button>
			</mat-card-actions>
		</mat-card>
	</div>

	<div class="balance">
		<p class="mat-body">
			Com base nas dívidas anteriores, o valor total a ser pago neste mês é:
			{{ totalAmountInThisMonth | currency : 'BRL' }}
		</p>
	</div>

	<div class="load-more">
		<button mat-stroked-button color="primary" *ngIf="!isLastPage; else fim" (click)="getDebts()">Carregar
			mais</button>
		<ng-template #fim>
			<p class="mat-small">Fim da listagem</p>
		</ng-template>
	</div>
</div>