<div class="vertical-center">

	<h2 class="mat-title">Login</h2>

	<form class="login-form" [formGroup]="loginForm" (ngSubmit)="handleSubmit()">

		<!-- Input de e-mail -->
		<mat-form-field appearance="outline">
			<mat-label>E-mail</mat-label>
			<input matInput placeholder="conta@email.com" formControlName="email">
			<mat-icon matSuffix>email</mat-icon>

			<!-- Validação -->
			<mat-error *ngIf="loginForm.get('email').errors?.email">Informe um e-mail válido</mat-error>
			<mat-error *ngIf="loginForm.get('email').errors?.required">Este campo é obrigatório</mat-error>
		</mat-form-field>

		<!-- Input de senha -->
		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput [type]="hide ? 'text' : 'password'" formControlName="password">
			<button type="button" mat-icon-button matSuffix (click)="hide = !hide">
				<mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
			</button>

			<!-- Validação -->
			<mat-error *ngIf="loginForm.get('password').errors?.required">Este campo é obrigatório</mat-error>
		</mat-form-field>

		<!-- Botão de login -->
		<button class="submit-form" mat-stroked-button color="primary" [disabled]="loginForm.invalid"
			type="submit">Login</button>
		
		<p class="mat-body" fxLayoutAlign="center">ou</p>
		
		<!-- Botão de criar conta -->
		<a routerLink="/create-account" class="navigator-form" mat-stroked-button color="link">Create account</a>
	</form>
</div>