.container {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2.mat-title {
	margin: 16px auto;
	text-align: center;
}

form.form-create-debt {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 65%;
	max-width: 400px;
	margin: 0 auto;
}

form mat-form-field {
	width: 100%;
}