/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 100%;
}

div.container h2 {
	text-align: center;
}

div.container form {
	align-self: center;
    max-width: 600px;
    width: 75%;
    display: flex;
    flex-direction: column;
}

div.container form mat-form-field {
	width: 100%;
}

div.container form > button, div.container form a {
	align-self: center;
	width: 120px;
}